<!Doctype html>
<html xmlns=http://www.w3.org/1999/xhtml>
<head>
	<title>chat home</title>
	<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    	<link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/static/css/chatwindow.css" rel="stylesheet">
</head>
<body ng-app="gochat">
<div ng-controller="chat">
	<div style="width: 20% ; float: left ; height: 100%" class="panel panel-default">
		<div class="panel-heading" style="color: green ; background: #76EEC6">
			<a class="panel-title" data-toggle="collapse" data-parent="#panel-787069" href="#panel-element-841578"><strong><h3>Online:</h3></strong></a>
		</div>
		<div id="panel-element-841578" class="panel-collapse in">
			<div class="panel-body" ng-repeat="user in onlineusers">
				{{user}}
			</div>
		</div>
	</div>
	<div style="width: 80% ; float: left">
		<div id="convo" data-from="Sonu Joshi">  
			<ul class="chat-thread">
				<li ng-repeat="msg in chatMsg" ng-class="msg.rightOrLeft">{{msg.msg}}</li>
			</ul>
		</div>
		<div class="input-group">
               <input type="text" class="form-control" ng-model="msg" >
               <span class="input-group-btn">
                  <button class="btn btn-success" type="button" id="send" ng-click="sendMsg();">
                     Go!
                  </button>
               </span>
            </div>
	</div>
</div>
</body>
<script src="//cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
<script src="//cdn.bootcss.com/angular.js/1.4.8/angular.min.js"></script>
<script src="/static/js/index.js"></script>
</html>   